$blue: blue;
$gray: gray;
$pink: pink;

@mixin button-color($color) {
    background: $color;
    &:hover {
        background: lighten($color, 10%);
    }
    &:active {
        background: lighten($color, 10%);
    }

    &.outline {
        color: $color;
        background: none;
        border: 1px solid $color;
    }
}

.Button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    outline: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding-left: 1rem;
    padding-right: 1rem;

    &.large {
        height: 3rem;
        font-size: 1, 25rem;
    }

    &.medium {
        height: 2.25rem;
        font-size: 1rem;
    }

    &.small {
        height: 2rem;
        font-size: 0.8rem;
    }

    &.blue {
        @include button-color($blue);
    }
    &.gray {
        @include button-color($gray);
    }
    &.pink {
        @include button-color($pink);
    }

    & + & {
        margin-left: 1rem;
    }

    &.fullWidth {
        width: 100%;
        justify-content: center;

        & + & {
            margin-left: 0;
            margin-top: 1rem;
        }
    }
}
